            @import url('https://fonts.googleapis.com/css2?family=Zen+Tokyo+Zoo&display=swap');
            html {
                scroll-behavior: smooth;
            }
            /* img {
                max-width: 100%;
                height: auto;
                display: block;
            }
            
            */
            
            body,
            html {
                height: 100%;
                font-family: poppins;
            }
            
            * {
                box-sizing: border-box;
            }
            
            .btn {
                display: block;
                border: solid white;
                margin-left: auto;
                margin-right: auto;
                color: white;
                text-decoration: none;
                font-size: 1.0em;
                display: inline-block;
            }
            
            .btn2 {
                border: 1px solid whitesmoke;
                padding: 0.5em;
                left: 100px;
                color: white;
                display: block;
                text-decoration: none;
                background: transparent;
                font-size: 1.5rem;
                width: 15%;
                border-radius: 5%;
            }
            
            .circle {
                height: 70px;
                width: 70px;
                background-color: lightgray;
                color: black;
                padding: 12px;
                border-radius: 50%;
                font-size: 30px;
                margin-bottom: 20px;
            }
            
            .about {
                background-color: rgba(224, 219, 219, 0.808);
            }
            
            .about .card {
                box-shadow: 10px 10px 5px -8px rgba(3, 3, 3, 0.75);
                -webkit-box-shadow: 10px 10px 5px -8px rgba(3, 3, 3, 0.75);
                -moz-box-shadow: 10px 10px 5px -8px rgba(3, 3, 3, 0.75);
            }
            
            .accordion .accordion-body {
                background-color: rgb(216, 221, 221);
                color: rgb(7, 7, 7);
            }
            
            .project-us p {
                color: rgb(255, 255, 255)
            }
            
            .services {
                background-color: rgb(255, 255, 255);
            }
            
            .services.card {
                cursor: pointer;
            }
            
            #Team .item .image .featured-button a {
                font-size: 13px;
                font-weight: 600;
                color: #fff;
                text-align: center;
                text-transform: capitalize;
                background-color: rgba(69, 72, 154, 0.9);
                display: inline-block;
                height: 44px;
                line-height: 44px;
                width: 100%;
                letter-spacing: 0.25px;
                text-decoration: none;
                transition: all 0.5s;
                position: absolute;
                z-index: 9;
                bottom: -44px;
                opacity: 0;
            }
            
            #Team .item:hover .featured-button a {
                bottom: 0;
                opacity: 1;
            }
            
            #Team .item {
                position: relative;
                align-items: center;
                z-index: 10;
            }
            
            #Team .card .card-body li {
                color: rgb(170, 168, 168);
            }
            
            .contacts {
                background-color: rgb(218, 218, 218);
            }
            
            #Contacts .separator .footer-list-item a {
                text-decoration: none;
                color: rgb(78, 77, 77);
            }
            
            .element-item {
                position: relative;
            }
            
            .element-item img {
                height: 25em;
            }
            
            .element-item span {
                position: absolute;
                top: 40%;
                left: 45%;
                font-size: 40px;
                color: black;
                cursor: pointer;
                opacity: 0;
            }
            
            .footer {
                background-color: rgba(12, 12, 12, 0.9);
                height: 80px;
                line-height: 80px;
                display: inline-block;
                text-align: center;
                width: 100%;
            }
            
            .footer p {
                margin-bottom: 0px;
                font-size: 13px;
                line-height: 80px;
                color: #fff;
                letter-spacing: 0.5px;
                font-weight: 300;
            }
            
            .footer p a {
                text-decoration: none;
                color: #fff;
                font-weight: 600;
            }